.btn {
	@mixin reset-btn;
	cursor: pointer;

	&.btn--default {
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		@mixin font-gillSans;
		background-color: color(#D1C089 a(1));
		padding: 16px 32px;
		border-radius: 2px;
		transition: background-color .3s ease-out;

		&:hover {
			background-color: color(#D1C089 a(.5));
		}
	}

	&.btn--light {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 9px 22px;
		@mixin font-gillSans;
		color: #151101;
		border: solid 1px color(#151101 a(.25));
		border-radius: 2px;
		transition: border .3s ease-out;

		&:hover {
			border: solid 1px color(#151101 a(1));
		}
	}
}