@mixin add-custom-font "PalatinoLinotype", /fonts/PalatinoLinotype/regular, palatinoLinotype-regular {
	font-style: normal;
  	font-weight: 400;
}
@mixin add-custom-font "PalatinoLinotype", /fonts/PalatinoLinotype/bold, palatinoLinotype-bold {
	font-style: normal;
  	font-weight: 700;
}
@mixin add-custom-font "PalatinoLinotype", /fonts/PalatinoLinotype/italic, palatinoLinotype-italic {
	font-style: italic;
  	font-weight: 400;
}
@mixin add-custom-font "GillSans", /fonts/GillSans/regular, gillsans-regular {
	font-style: normal;
  	font-weight: 400;
}

@define-mixin font-palatinoLinotype {
	font-family: "PalatinoLinotype", serif;
}

@define-mixin font-gillSans {
	font-family: "GillSans", sans-serif;
}

.hs {
	font-size: 50%;
	line-height: 1;
}