@mixin add-custom-font "Icons", /fonts/Icons, icons {
	font-style: normal;
  	font-weight: 400;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@define-mixin font-icons {
	font-family: "Icons", serif;
}



.icon-pano:before {
	content: "\e900";
}
.icon-select-arrows:before {
	content: "\e612";
}
.icon-menu:before {
	content: "\e611";
}
.icon-close:before {
	content: "\e607";
}
.icon-rubl:before {
	content: "\e606";
}
.icon-book:before {
	content: "\e608";
}
.icon-anchor-left:before {
	content: "\e601";
}
.icon-branch:before {
	content: "\e602";
}
.icon-check:before {
	content: "\e603";
}
.icon-location:before {
	content: "\e604";
}
.icon-parking:before {
	content: "\e605";
}
.icon-veranda:before {
	content: "\e610";
}
.icon-anchor:before {
	content: "\e609";
}
.icon-arrow-left:before {
	content: "\e60a";
}
.icon-arrow-right:before {
	content: "\e60b";
}
.icon-facebook-icon:before {
	content: "\e60c";
}
.icon-facebook-square-icon:before {
	content: "\e60d";
}
.icon-instagram-square-icon:before {
	content: "\e60e";
}
.icon-vk-icon:before {
	content: "\e600";
}
.icon-vk-square-icon:before {
	content: "\e60f";
}
