.popup,
.modal-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    outline: 0;
}

.popup {
    display: none;
    z-index: 3;
    overflow: auto;
    padding-left: 20px !important;
    padding-right: 20px;
}

.modal-backdrop {
    background: rgba(0,0,0,0.75);
    z-index: 2;
    opacity: 0;
    transition: opacity .3s ease;

    &.in {
        display: block;
        opacity: 1;
    }
}

#popup-orderSuccess {
    &.in {
        display: flex !important;
        padding: 20px;
        box-sizing: border-box;
    }

    .popup-dialog {
        max-width: 380px;
        margin: auto;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15), 0px 6px 12px 0px rgba(0,0,0,0.15);
        border-radius: 4px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 60px;
        padding-left: 66px;
        padding-right: 66px;
        box-sizing: border-box;
        position: relative;
    }

    .dialog-close {
        position: absolute;
        top: 16px;
        right: 16px;
        color: #151101;
        font-size: 16px;
        @mixin reset-btn;
    }

    .dialog-illustration {
        margin-bottom: 33px;
    }

    .dialog-title {
        color: #151101;
        text-align: center;
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 3px;
    }

    .dialog-desc {
        font-size: 16px;
        line-height: 24px;
        color: #1B1501;
        text-align: center;
    }
}
