/* Helpers */

/* Core */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

body,
input,
button,
textarea {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1;
    padding-top: 1px;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

input,
textarea {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: "PalatinoLinotype";
    src: url("/fonts/PalatinoLinotype/regular/palatinoLinotype-regular.eot");
    src: url("/fonts/PalatinoLinotype/regularpalatinoLinotype-regular.eot?#iefix") format('embedded-opentype'),
        url("/fonts/PalatinoLinotype/regular/palatinoLinotype-regular.ttf") format('truetype'),
        url("/fonts/PalatinoLinotype/regular/palatinoLinotype-regular.woff") format('woff'),
        url("/fonts/PalatinoLinotype/regular/palatinoLinotype-regular.svg") format('svg');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "PalatinoLinotype";
    src: url("/fonts/PalatinoLinotype/bold/palatinoLinotype-bold.eot");
    src: url("/fonts/PalatinoLinotype/boldpalatinoLinotype-bold.eot?#iefix") format('embedded-opentype'),
        url("/fonts/PalatinoLinotype/bold/palatinoLinotype-bold.ttf") format('truetype'),
        url("/fonts/PalatinoLinotype/bold/palatinoLinotype-bold.woff") format('woff'),
        url("/fonts/PalatinoLinotype/bold/palatinoLinotype-bold.svg") format('svg');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "PalatinoLinotype";
    src: url("/fonts/PalatinoLinotype/italic/palatinoLinotype-italic.eot");
    src: url("/fonts/PalatinoLinotype/italicpalatinoLinotype-italic.eot?#iefix") format('embedded-opentype'),
        url("/fonts/PalatinoLinotype/italic/palatinoLinotype-italic.ttf") format('truetype'),
        url("/fonts/PalatinoLinotype/italic/palatinoLinotype-italic.woff") format('woff'),
        url("/fonts/PalatinoLinotype/italic/palatinoLinotype-italic.svg") format('svg');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "GillSans";
    src: url("/fonts/GillSans/regular/gillsans-regular.eot");
    src: url("/fonts/GillSans/regulargillsans-regular.eot?#iefix") format('embedded-opentype'),
        url("/fonts/GillSans/regular/gillsans-regular.ttf") format('truetype'),
        url("/fonts/GillSans/regular/gillsans-regular.woff") format('woff'),
        url("/fonts/GillSans/regular/gillsans-regular.svg") format('svg');
    font-style: normal;
    font-weight: 400;
}

.hs {
	font-size: 50%;
	line-height: 1;
}

body {
	padding-top: 0px !important;
}

html, body, .page--404 {
	height: 100%;
	min-height: 600px;
}

.page--404 {
	/*height: auto;*/
	/*min-height: 100%;*/
	display: table;
	width: 100%;
	border: solid 10px #F7F9F3;
	box-sizing: border-box;
	color: #F7F9F3;
}

.page--404 .page-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.page--404 h1 {
    display: inline-block;
    vertical-align: top;
    font-size: 100px;
    padding-bottom: 8px;
    background: url('/images/wave.svg') bottom center repeat-x;
    text-shadow: 0px 8px 16px #000000;
    text-shadow: 0px 8px 16px rgba(0,0,0,0.10);
    font-family: "PalatinoLinotype", serif;
    font-weight: 700;
    margin-bottom: 14px;
}

.page--404 p {
    font-size: 30px;
    line-height: 36px;
    text-shadow: 0px 8px 16px #000000;
    text-shadow: 0px 8px 16px rgba(0,0,0,0.10);
    margin-bottom: 21px;
}

.page--404 a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "GillSans", sans-serif;
    font-weight: 700;
    display: block;
    margin-bottom: 95px;
}

.page--404 a span {
    text-decoration: none;
    border-bottom: 1px solid #F7F9F3;
    border-color: #F7F9F3;
    border-color: rgba(247, 249, 243, 0.25);
    display: inline;
    transition: border-color .3s ease-out, color .3s ease-out;
}

.page--404 a span:hover {
    color: #F7F9F3;
    border-color: rgb(247, 249, 243);
}

video {
    position: fixed;
    top: 0px;
    right: 0px;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    object-fit: cover;

 	background: url('/images/404-bg.jpg') no-repeat;
  	background-size: cover;
}