.page--about {
	.page-inner {
		.text {
			margin-bottom: 40px;
		}
	}
	.page-title {
		margin-bottom: 27px;
	}
	.page-header {
		margin-bottom: 42px;
	}

	.vacancy-form {
		display: none;
	}

	.text,
	.vacancy-form {
		max-width: 680px;
	}
}

@mixin respond-to $breakpoint-mobile-hd {
	.page--about {
		.vacancy-sendmail-btn {
			display: none;
		}

		.vacancy-form {
			display: block;
		}
	}
}