.page--address {
	padding-bottom: 0px;
	max-width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 0px;
	padding-right: 0px;

	.page-inner,
	.page-header {
		@mixin center;
		padding-left: 20px;
		padding-right: 20px;
        box-sizing: content-box;
	}

	.page-header {
		margin-bottom: 24px;
	}

	#restoranesMap {
		height: 540px;
	}

	.infoWindow {
		@mixin font-palatinoLinotype;
		font-size: 16px;
		line-height: 24px;
		padding-left: 5px;
		padding-top: 10px;

		h3 {
			font-weight: 700;
			margin-bottom: 2px;
		}

		ul {
			margin-bottom: 10px;
		}
	}
}


@mixin respond-to $breakpoint-mobile-hd {
	.page--address {
		.page-inner,
		.page-header {
			padding-left: 40px;
			padding-right: 40px;
		}

		.page-header {
			margin-bottom: 64px;
		}

		.page-inner {
			margin-bottom: 130px;
		}
	}
	.restaurant {
		.restaurant-list & {
			lost-waffle: 1/2;
		}
	}
}

@mixin respond-to $breakpoint-tablet {
	.page--address {
		#restoranesMap {
			display: block;
			height: 740px;
		}
	}
}

@mixin respond-to $breakpoint-laptop {
	.restaurant {
		.restaurant-list & {
			lost-waffle: 1/4;
		}
	}
}