.page--beer {
	@mixin clearfix;

	.aside {
		margin-bottom: 50px;

		.page-title {
			margin-bottom: 20px;
		}

		.select--backgrounded {
			margin-bottom: 20px;
		}
	}

	.reference  {
		margin-bottom: 80px;
	}
}

@mixin respond-to $breakpoint-phablet {
	.page--beer {
		padding-top: 26px;

		.aside {
			padding-top: 11px;
			width: 170px;
			float: left;

			.page-title {
				margin-bottom: 4px;
			}

			.select--backgrounded {
				margin-bottom: 47px;
			}
		}
		.content {
			margin-left: 210px;
		}

		.contentmenu--responsive {
			.contentmenu-list {
				display: block;
			}
			.contentmenu-select {
				display: none;
			}
		}
	}
}

@mixin respond-to $breakpoint-laptop {
	.page--beer {
		.content {
			lost-offset: -3/12;
			max-width: 800px;
		}

		.reference {
			margin-left: -20px;
		}
	}
}