.page--contacts {
	.page-title {
		margin-bottom: 27px;
	}

	.page-header {
		margin-bottom: 49px;
	}

	#contacts-map {
		height: 340px;
		margin-bottom: 40px;
	}

	.content {
		max-width: 580px;
	}
}

.contacts-list {
	@mixin clearfix;
}

.contacts-list-column {
	lost-waffle: 1/2;
	min-width: 280px;
}

.contact-item {
	.contacts-list & {
		margin-bottom: 45px;
	}

	h2 {
		font-size: 21px;
		font-weight: 700;
		margin-bottom: 6px;
	}

	li {
		font-size: 16px;
		margin-bottom: 6px;

		a {
			@mixin underline-rgba #151101;

			&.tel {
			    border: none;
			    cursor: default;
			}
		}
	}
}

@mixin respond-to $breakpoint-laptop {
	.page--contacts {
		@mixin clearfix;

		.aside {
			width: 340px;
			margin-right: 55px;
			float: left;
		}
		.content {
			overflow: hidden;
			padding-top: 34px;
		}

		#contacts-map {
			width: 340px;
			border-radius: 50%;
			background: #D8D8D8;
			box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.10);
		}
	}
}