.page--events {
	.page-header {
		margin-bottom: 24px;
	}

	.aside {
		margin-bottom: 40px;
	}

	.content {
		max-width: 580px;
	}
}

@mixin respond-to $breakpoint-mobile-hd {
	.page--events {
		.page-header {
			margin-bottom: 64px;
		}
	}
}

@mixin respond-to $breakpoint-tablet {
	.page--events {
		@mixin clearfix;

		.aside {
			width: 380px;
			float: left;
		}
		.content {
			margin-left: 440px;
		}
	}
}

@mixin respond-to $breakpoint-desktop {
	.page--events {
		.content {
			lost-offset: -5/12;
		}
	}
}