.page--events-view {
	.aside {
		display: none;
	}

	.page-inner {
		@mixin clearfix;
	}

	.gallery {
		margin-left: -10px;
		margin-right: -10px;
	}

	.text {
		margin-bottom: 100px;
	}

	.goback {
		font-size: 14px;
		position: relative;
		max-width: 70px;
		display: inline-block;
		vertical-align: top;
		line-height: 19px;

		span {
			@mixin underline-rgba #151101;
		}

		.icon-anchor-left {
			position: absolute;
			top: 0px;
			right: 100%;
			margin-right: 4px;
		}
	}
}

@mixin respond-to $breakpoint-mobile-hd {
	.page--events-view {
		.gallery {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
}

@mixin respond-to $breakpoint-tablet {
	.page--events-view {
		.content {
			max-width: 780px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@mixin respond-to $breakpoint-desktop {
	.page--events-view {
		.aside {
			lost-column: 1/12;
			lost-offset: -1/12;
			display: block;
		}

		.content {
			lost-column: 8/12;
			margin-right: 0px;
		}
	}
}