.page--menu {
	.aside {

		.page-title {
			margin-bottom: 24px;
		}

		.select--backgrounded {
			margin-bottom: 20px;
		}
	}
}

@mixin respond-to $breakpoint-mobile-hd {
	.page--menu {
		@mixin clearfix;

		.aside {
			width: 170px;
			float: left;
			margin-bottom: 50px;

			.page-title {
				margin-bottom: 4px;
			}

			.select--backgrounded {
				margin-bottom: 47px;
			}
		}

		.content {
			margin-left: 210px;
		}

		.contentmenu--responsive {
			.contentmenu-list {
				display: block;
			}
			.contentmenu-select {
				display: none;
			}
		}
	}
}

@mixin respond-to $breakpoint-laptop {
	.page--menu {
		.content {
			lost-offset: -2/12;
		}
	}
}