<?php
/**
 * Элемент отображения кнопко действий
 */
?>
<span class="ribbon-button-alignment pull-right">
    <?= $this->fetch('actions'); ?>

    <!-- Кнопка сброса локального хранилища -->
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Эта кнопка очищает настройки отображения админ-панели." data-html="true">
        <i class="fa fa-refresh"></i>
    </span>

</span>

<!-- You can also add more buttons to the
ribbon for further usability

Example below:

<span class="ribbon-button-alignment pull-right">
<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
</span> -->
