.tree li div{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px dotted #999;
    border-radius:5px;
    display:block;
    padding:3px 8px;
    text-decoration:none;
    -webkit-transition:color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
    -moz-transition:color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;-o-transition:color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
    transition:color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s
}

.ui-sortable-helper > td.actions {
    display: none;
}
.ui-sortable-helper {
}

.tree-item.drop-hover {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid red;
    border-radius:5px;
}

/* Неопубликованный узел */
a.node-draft {
    color: gray;
}

/* Галерея изображений на странице редактирования узла */
ul.gallery {
    list-style-type: none;
    padding: 0;
}

/* Вложенный список пунктов навигационного меню */
.dd {
    float: none;
}
.dd-list {
    padding: 0;
}
.dd-item > .dd-list {
    padding-left: 36px;
}

.dd3-content {
    font-size: 13px;
}
.dd3-handle {
    height: 100%;
    width: 30px;
}

/* Скрываем Шапку */
#header {
    display: none;
}

/* Поднимаем левую панель, когда скрыта Шапка */
#left-panel {
    padding-top: 0;
}

/* Ровняем ribbon */
body.menu-on-top.fixed-header.fixed-navigation.fixed-ribbon #ribbon {
    left: 0px;
    top: 70px;
}
.fixed-ribbon #content {
    padding-top: 10px;
}