/* Helpers */
@import "helpers/mixins";

/* Core */
@import "core/reset";
@import "core/fonts";

body {
	padding-top: 0px !important;
}

html, body, .page--404 {
	height: 100%;
	min-height: 600px;
}

.page--404 {
	/*height: auto;*/
	/*min-height: 100%;*/
	display: table;
	width: 100%;
	border: solid 10px #F7F9F3;
	box-sizing: border-box;
	color: #F7F9F3;

	.page-inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	h1 {
		display: inline-block;
		vertical-align: top;
		font-size: 100px;
		padding-bottom: 8px;
		background: url('/images/wave.svg') bottom center repeat-x;
		text-shadow: 0px 8px 16px rgba(0,0,0,0.10);
		@mixin font-palatinoLinotype;
		font-weight: 700;
		margin-bottom: 14px;
	}

	p {
		font-size: 30px;
		line-height: 36px;
		text-shadow: 0px 8px 16px rgba(0,0,0,0.10);
		margin-bottom: 21px;
	}

	a {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
		@mixin font-gillSans;
		font-weight: 700;
		display: block;
		margin-bottom: 95px;

		span {
			@mixin underline-rgba;
		}
	}
}

video {
    position: fixed;
    top: 0px;
    right: 0px;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    object-fit: cover;

 	background: url('/images/404-bg.jpg') no-repeat;
  	background-size: cover;
}