.footer {
	background-color: #151517;
	color: #F7F9F3;
	padding-top: 54px;
	padding-bottom: 52px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 10px;
	margin-top: 0px;

	h3 {
		color: #D1C089;
		font-size: 14px;
		@mixin font-gillSans;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	a {
		@mixin underline-rgba;
	}

	.footer-logo-link {
		border-bottom: none;
	}
}

.footer-logo {
	margin-top: -5px;
	margin-bottom: 24px;
	opacity: .5;
}

.footer-inner {
	@mixin center;
	overflow: hidden;
}

.footer-column--address {
	text-align: center;
	margin-bottom: 80px;

	li {
		font-size: 14px;
		margin-bottom: 13px;
		line-height: 22px;
	}
}

.footer-column--service {
	text-align: center;
	width: 100%;

	p {
		margin-bottom: 9px;
		font-size: 14px;
	}

	.developer {
		margin-bottom: 26px;
	}
}

.social-links {
	li {
		display: inline-block;
		vertical-align: top;
		margin-right: 12px;
		font-size: 24px;

		a {
			transition: opacity .3s ease-out;
			opacity: .5;
			border: none;

			&:hover {
				opacity: 1;
			}
		}
	}
}

@mixin respond-to $breakpoint-mobile-hd {
	.footer-column--address {
		float: left;
		margin-right: 160px;
		display: block;
		text-align: left;
		margin-bottom: 0px;
	}
	.footer-column--service {
		width: 173px;
		text-align: left;
		float: right;
	}
}