.header.header--desktop {
	margin-top: 71px;
	margin-bottom: 94px;
	padding: 0px 46px;
	box-sizing: border-box;
	display: none;

	.logo {
		position: absolute;
		top: -28px;
		left: 50%;
		margin-left: calc(width(images/logo.svg, 2) * -1);
	}

	.logo-link {
		display: block;
	}

	&.header--home {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 2;
		width: 100%;

		.header-wrapper {
			background: resolve(mainNav-bg--home.svg) top center no-repeat;

			&::before {
				background: resolve(mainNav-left--home.svg) no-repeat;
			}

			&::after {
				background: resolve(mainNav-right--home.svg) no-repeat;
			}
		}
	}

	.header-wrapper {
		@mixin center;
		max-width: 1170px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		height: height(images/mainNav-bg.svg);
		background: resolve(mainNav-bg.svg) top center no-repeat;

		&::after,
		&::before {
			content: "";
			position: absolute;
			top: 0px;
			width: width(images/mainNav-left.svg);
			height: height(images/mainNav-left.svg);
		}

		&::before {
			background: resolve(mainNav-left.svg) no-repeat;
			right: 100%;
		}

		&::after {
			background: resolve(mainNav-right.svg) no-repeat;
			left: 100%;
		}
	}

	.header-inner {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 100%;
	}

	.header-column {
		display: table-cell;
		vertical-align: middle;
	}

	.header-column--center {
		width: 156px;
	}
}

.header.header--mobile {
	padding-top: 36px;
	padding-right: 40px;
	padding-left: 32px;
	margin-bottom: 30px;
	overflow: hidden;
	box-sizing: border-box;

	&.header--home {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 2;
		width: 100%;
	}

	.logo {
		float: left;
		width: 140px;

		img {
			max-width: 100%;
		}
	}

	.toggle-menu {
		@mixin reset-btn;
		@mixin font-icons;
		color: #D1C089;
		font-size: 26px;
		float: right;
		margin-top: 14px;

		&::before {
			content: "\e611";
		}
	}
}

@mixin respond-to $breakpoint-mobile-hd {
	.header.header--mobile {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 40px;

		.logo {
			width: 200px;
		}

		.toggle-menu {
			margin-top: 24px;
		}
	}
}

@mixin respond-to $breakpoint-laptop {
	.header {
		&.header--desktop {
			display: block;
		}
		&.header--mobile {
			display: none;
		}
	}
}