.page-title {
	font-weight: 700;
	font-size: 25px;
}

.page {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

.page-header {
	margin-bottom: 27px;
	@mixin center;
}

.page-inner {
	@mixin clearfix;
	@mixin center;
}

@mixin respond-to $breakpoint-mobile-hd {
	.page-title {
		font-size: 34px;
	}

	.page {
		padding-left: 40px;
		padding-right: 40px;
	}
}