.checkbox-group {
	.form-col--control & {
		margin: 4px 0px;
	}
	.checkbox {
		margin-bottom: 5px;
	}
}

.checkbox {
	label {
		cursor: pointer;
		margin-top: 3px;
	}

	&:hover {
		.icheckbox {
			border: solid 1px color(#151101 a(1));
		}
	}

	label,
	.icheckbox {
		display: inline-block;
		vertical-align: top;
	}

	.icheckbox {
		margin-right: 5px;
	}
}

.icheckbox {
	border: solid 1px color(#151101 a(.25));
	border-radius: 2px;
	width: 16px;
	height: 16px;
	transition: border .3s ease-out;
	cursor: pointer;
	box-sizing: border-box;

	&::before {
		content: "\e603";
		@mixin font-icons;
		font-size: 16px;
		position: relative;
		top: -4px;
		left: 2px;
		opacity: 0;
		transition: opacity .1s ease-out;
	}

	&:hover {
		border: solid 1px color(#151101 a(1));
	}

	&.checked {
		&::before {
			opacity: 1;
		}
	}
}