.file-input {
    height: 34px;
    overflow: hidden;

    .file-btn {
        @mixin reset-btn;
        box-sizing: border-box;
        border: solid 1px color(#151101 a(.25));
        font-size: 12px;
        height: 34px;
        @mixin font-gillSans;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #151101;
        padding-left: 22px;
        padding-right: 22px;
        display: inline-block;
        border-radius: 2px;
        transition: border .3s ease-out;

        &:hover {
        	border: solid 1px color(#151101 a(1));
        }
    }

    .file-name {
        font-size: 16px;
        line-height: 34px;
        color: #151101;
        display: none;
    }

    .file-input-hidden {
    	display: block;
    }

    .file-reset {
        @mixin reset-btn;
        font-size: 16px;
        color: #000;
        line-height: 34px;
        background-color: #F7F9F3;
        border-radius: 50%;
    }

    .file-requirements {
    	display: inline-block;
    	vertical-align: middle;
    	font-size: 16px;
    	color: #D1C089;
    	font-style: italic;
    	margin-right: 10px;
    }
}