.form {
	max-width: 680px;

	.file-input .file-requirements {
		display: none;
	}
}

.form-title {
	font-weight: 700;
	font-size: 21px;
	color: #151101;
	margin-bottom: 25px;
}

.form-col {
	&.form-col--date {
		.btn {
			margin-bottom: 5px;
		}
	}

	.select2-widget--transparent {
		margin-left: -12px;
	}

	.select2-widget--transparent {
		.select2-selection {
			height: 36px;
			padding-top: 8px;
		}
	}

	.select2-selection__arrow {
		height: 36px !important;
		line-height: 36px !important;
	}
}

.form-row {
	border: solid 1px #D1C089;
	margin-top: -1px;
	min-height: 48px;
	padding: 5px;
	padding-left: 14px;
	box-sizing: border-box;
	width: 100%;
}

.form-label {
	font-size: 16px;
	font-weight: 700;
	display: block;
	line-height: 36px;
}

.form-submit {
	margin-top: 25px;
	text-align: center;


	.btn {
		margin-bottom: 25px;
		display: inline-block;
		vertical-align: middle;
	}
}

.afterSubmit {
	font-size: 16px;
	font-weight: 700;
	display: block;
}

.form-limit {
	font-size: 14px;
	color: #D1C089;
}

@mixin respond-to $breakpoint-mobile-hd {
	.form {
		.file-input .file-requirements {
			display: inline-block;
		}
	}
	.form-row {
		display: table;
		padding: 5px;

	}

	.form-submit {
		text-align: left;
	}

	.afterSubmit {
		margin-top: -4px;
		margin-left: 32px;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 21px;
	}

	.form-col {
		display: table-cell;
		vertical-align: middle;

		&.form-col--date {
			.btn {
				float: right;
				margin-bottom: 0px;
			}
			.datepicker {
				width: auto;
				margin-top: 6px;
			}
		}

		&.form-col--alignright {
			text-align: right;
		}

		&.form-col--label {
			vertical-align: top;
			width: 180px;
			padding-left: 14px;
			padding-right: 18px;
		}
	}
}