.text-input {
	@mixin reset-text-input;
	width: 100%;
	font-size: 16px;
	color: #151101;
	@mixin font-palatinoLinotype;
	line-height: 34px;

	@mixin placeholder {
		color: #D1C089;
		font-style: italic;
	}
}