<div class="page page--about">
	<header class="page-header">
		<h1 class="page-title">Философия</h1>
	</header>
	<div class="page-inner">
		<div class="text">
			<h2>Дизайна еще нет</h2>
		</div>
	</div>
</div>