.banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	width: 100%;
	max-width: 380px;
	min-width: 280px;
	height: 504px;

	color: #F7F9F3;
	text-align: center;
	display: table;
	position: relative;
}

.banner-inner {
	background: rgba(21,17,1,0.60);
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	padding: 20px;
	padding-bottom: 60px;
	position: relative;
}

.banner-time {
	font-size: 14px;
	text-transform: uppercase;
	@mixin font-gillSans;
	margin-bottom: 17px;
	display: block;
}

.banner-title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 16px;
}

.banner-desc {
	font-size: 21px;
	font-style: italic;
}

.banner-link-more {
	text-transform: uppercase;
	font-size: 16px;
	@mixin font-gillSans;
	letter-spacing: 1px;
	@mixin underline-rgba;
	position: absolute;
	bottom: 56px;
	left: 50%;
	transform: translateX(-50%);
}

.banner-link {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}