.beer {
	.beer-list & {
		overflow: hidden;
		margin-bottom: 80px;
	}

	.beer-photo {
		margin-bottom: 15px;
	}

	.beer--new::before {
		content: "";
		width: width(/images/label--new.svg);
		height: height(/images/label--new.svg);
		background: resolve(/images/label--new.svg) no-repeat;
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.75rem;
		position: relative;
		/*top: -5px;*/
		/*left: 0px;*/
	}
}

.beer-title {
	font-size: 21px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 12px;
	/*position: relative;*/
}



.beer-desc {
	margin-bottom: 30px;
	max-width: 460px;
	font-size: 14px;
	line-height: 23px;

	p {
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 23px;
	}
}

.beer-specifications {
	font-size: 14px;
	margin-bottom: 40px;

	li {
		margin-bottom: 8px;
		font-style: italic;
	}

	b {
		font-weight: 700;
		@mixin font-gillSans;
		font-style: normal;
	}
}

.beer-price {
	li {
		margin-bottom: 13px;
		font-size: 21px;
		font-weight: 700;
		display: inline-block;
		vertical-align: top;
		margin-right: 8px;
	}

	.icon-rubl {
		font-size: 14px;
		position: relative;
		top: -1px;
	}

	.volume {
		font-size: 12px;
		@mixin font-gillSans;
		border: 1px solid #D1C089;
		border-radius: 2px;
		padding: 2px 5px;
		font-weight: normal;
		position: relative;
		top: -3px;
		margin-right: 1px;
	}
}

@mixin respond-to $breakpoint-phablet {
	.beer-specifications {
		float: left;
		margin-right: 72px;
		margin-bottom: 0px;
		max-width: 240px;
	}

	.beer-price {
		li {
			display: block;
			margin-right: 0px;
		}
	}

	.beer-desc {
		max-width: 100%;
	}
}

@mixin respond-to $breakpoint-tablet {
	.beer {
		.beer-list & {
			.beer-details {
				margin-left: 300px;
			}

			.beer-photo {
				float: left;
				width: 276px;
				text-align: center;
			}

			&:nth-of-type(odd) {
				.beer-photo {
					float: right;
				}

				.beer-details {
					margin-right: 300px;
					margin-left: 0px;
				}
			}
		}
	}
}