.contentmenu-item {
	text-transform: uppercase;
	@mixin font-gillSans;
	font-size: 14px;
	line-height: 24px;
	border-left: solid 3px color(#151101 a(.25));
	margin-bottom: 12px;
	padding-left: 7px;
	letter-spacing: 1px;
	transition: color .3s ease-out, border-color .3s ease-out;

	&.is-active {
		color: #BF4D28;
		border-color: #BF4D28;
	}

	&:hover {
		color: #BF4D28;
		border-color: #BF4D28;
	}

	.contentmenu--horizontal & {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 0px;
		margin-right: 25px;
	}
}

.contentmenu--responsive {
	.contentmenu-list {
		display: none;
	}
}