.datepicker {
	&.dropdown-menu {
		border: none;
		box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.10);
		padding-top: 20px;
		padding-left: 17px;
		padding-right: 17px;

		table {
			font-size: 13px;
			border-collapse: separate;
	  		border-spacing: 8px;

	  		tr td span {
	  			height: 48px;
	  			line-height: 48px;

	  			&.active {
					background-color: #BF4D28;
					border-radius: 2px;

					&:hover {
						background-color: #BF4D28;
					}
				}
	  		}
		}

		.datepicker-switch {
			font-size: 21px;
			font-weight: 400;
		}

		td,
		th.dow,
		th.prev,
		th.next {
			padding: 0px;
			width: 25px;
			height: 25px;
			line-height: 25px;
			text-align: center;
		}

		th {
			padding: 0px;
		}

		td {
			@mixin font-gillSans;

			&.day {
				border-radius: 50%;

				&.active {
					background-color: #BF4D28;
					color: #fff;

					&:hover {
						background-color: #BF4D28;
					}
				}
			}
		}

		th.dow {
			text-transform: uppercase;
			font-size: 9px;
			font-weight: 700;
			color: #D1C089;
			padding-bottom: 0px;
		}
	}
}

.datepicker-dropdown:before {
	border: none;
}