.event {
	.events-list & {
		margin-bottom: 50px;
	}
}

.event-date {
	font-size: 14px;
	text-transform: uppercase;
	@mixin font-gillSans;
	margin-bottom: 18px;
	display: block;
}

.event-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	transition: color .3s ease-out;

	&:hover {
		color: #BF4D28;
	}
}