.gallery {
	background: #111;

	img {
		max-width: 100%;
	}

	&.gallery--home {
		.fotorama__stage {
			border: solid 10px $color-bg;
			box-sizing: border-box;
		}

		.gallery-slide {
			background: rgba(0, 0, 0, .25) linear-gradient(-180deg, #000000 0%, rgba(0, 0, 0, 0) 40%);
			position: relative;
			padding-top: 60px;
		}
	}

	&.gallery--fullscreen {
		position: fixed;
	    top: 0px;
	    left: 0px;
	    right: 0px;
	    bottom: 0px;
	    z-index: 100;
	    display: none;

	    background: rgba(0, 0, 0, .9);

	    .fotorama__stage {
	        /*border: solid 10px $color-bg;*/
	        box-sizing: border-box;
	    }

	    .fotorama__arr {
	    	color: #F7F9F3;
	    	background: rgba(21, 17, 1, 0.75);

	    	&:hover {
	    		color: #D1C089;
	    	}
	    }

	    .fotorama__arr--next:before {
	    	margin-right: 22px;
	    }

	    .fotorama__arr--prev:before {
	    	margin-left: 22px;
	    }
	}

	&.gallery--alignbottom {
		.fotorama__html {
			.gallery-slide {
		    	vertical-align: bottom;
		    }
		}
	}

	.fotorama__html {
		display: table;

		.gallery-slide {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.fotorama__arr {
		width: 60px;
		height: 60px;
		background: #F7F9F3;
		background-repeat: no-repeat;
		border-radius: 50%;
		margin-top: -30px;
		@mixin font-icons;
		text-align: center;
		line-height: 60px;
		font-size: 25px;
		transition: color .3s ease-out;

		&:hover {
			color: #D1C089;
		}
	}

	.fotorama__arr--prev {
		&::before {
			content: "\e60a";
			margin-left: 13px;
		}

		left: -30px;
	}

	.fotorama__arr--next {
		&::before {
			content: "\e60b";
			margin-right: 13px;
		}

		right: -30px;
	}

}

.gallery-slide {
	display: none;
	text-align: center;
	height: 100%;
	width: 100%;
	color: #F7F9F3;
	box-sizing: border-box;
}

.gallery-slide-title {
	opacity: 0;
    transform: scale(0.5) rotate(0deg);
    transform-origin: 50% 50% 0px;
    transition: opacity 500ms ease-out;


    .gallery--init & {
		opacity: 1;
    	transform: scale(1) rotate(0);
    	transition: opacity 500ms ease-out, transform 500ms cubic-bezier(0, 0.75, 0.25, 1);
	}
}


.gallery-slide-title,
.gallery-slide-desc {
	max-width: 516px;
	margin: 0 auto;
	padding: 0px 20px;
	opacity: 0;
	transition: all .5s ease-out;

	.gallery--init & {
		opacity: 1;
	}
}

.gallery-slide-title {
	font-size: 48px;
  	font-weight: 700;
  	line-height: 50px;
  	margin-bottom: 8px;
}

.gallery-slide-desc {
	font-size: 24px;
	font-style: italic;
	margin-bottom: 57px;
}

.gallery-slide-anchor {
	&::before {
		content: "\e609";
	}
	@mixin font-icons;
	font-size: 26px;
	position: absolute;
	bottom: 64px;
	left: 50%;
	margin-left: -8px;
}

.gallery-slide-link {
	@mixin font-gillSans;
	text-transform: uppercase;
	color: #F7F9F3;
	font-size: 16px;
	letter-spacing: 2px;
	@mixin underline-rgba;
}

.gallery-slide-footer {
	background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0.00) 100%);
}

.gallery-close {
	background-color: #F7F9F3;
	height: 46px;
	width: 46px;
	position: fixed;
	top: 47px;
	right: 47px;
	z-index: 101;
	color: #151101;
	font-size: 21px;
	text-align: center;
	line-height: 47px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	transition: color .3s ease-out;

	&:hover {
		color: #D1C089;
	}
}

.gallery--fullscreen {
	.gallery-close {
		color: #F7F9F3;
		background-color: rgba(21, 17, 1, 0.75);

		&:hover {
			color: #D1C089;
		}
	}
}

@mixin respond-to $breakpoint-mobile-hd {
	.gallery-slide-title {
		font-size: 64px;
		line-height: 66px;
		margin-bottom: 28px;
	}
}