.intro {
	overflow: hidden;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 66px;
}
.intro-column {
	&:first-child {
		margin-bottom: 80px;
	}

	h1 {
		margin-top: 4px;
	}
}

@mixin respond-to $breakpoint-mobile-hd {
	.intro {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@mixin respond-to $breakpoint-phablet {
	.intro-column {
		lost-column: 6/12;

		&:first-child {
			lost-column: 12/12;
			margin-bottom: 60px;
		}
	}
}

@mixin respond-to $breakpoint-laptop {
	.intro-column {
		lost-column: 4/12;

		&:first-child {
			lost-column: 4/12;
			margin-bottom: 0px;
		}
	}
}