.mainNav-list {
	width: 100%;
	display: flex;
	max-width: 433px;
	margin: 0 auto;
	justify-content: space-around;
}

.mainNav-divider {
	background-color: color(#151101 a(.5));
	width: 1px;

	&:last-child {
		display: none;
	}

	.header--home & {
		background-color: #F7F9F3;
		/*border-left: solid 1px color(#F7F9F3 a(.5));*/
	}
}

.mainNav-item {
	@mixin font-gillSans;
	color: #151101;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	/*border-left: solid 1px color(#151101 a(.5));*/
	/*display: table-cell;*/
	text-align: center;
	padding: 0px 7px 0px 8px;
	white-space: nowrap;

	.header--home & {
		color: #F7F9F3;
		/*border-left: solid 1px color(#F7F9F3 a(.5));*/
	}

	&:first-child {
		border: none;
	}

	&.is-active {
		color: #BF4D28;
	}

	a {
		transition: color .3s ease-out;

		&:hover {
			color: #BF4D28;
		}
	}
}