.menu {
	.dish-list {
		padding-top: 12px;
		margin-bottom: 46px;
	}

	.menu-subtitle {
		font-size: 21px;
		@mixin font-palatinoLinotype;
		margin-bottom: 18px;
		font-weight: 700;
		text-align: center;

		&::before,
		&::after {
			content: "";
			width: 16px;
			display: inline-block;
			vertical-align: middle;
			border-top: solid 1px #D1C089;
			margin: 0px 7px;
		}
	}

	.dish {
		position: relative;
		box-sizing: border-box;
		margin-bottom: 22px;
		line-height: 24px;

		&.dish--new {
			&::before {
				content: "";
				width: width(/images/label--new.svg);
				height: height(/images/label--new.svg);
				background: resolve(/images/label--new.svg) no-repeat;
				display: block;
				position: absolute;
				top: -5px;
				left: 0px;
			}

			.dish-title {
				margin-left: 35px;
			}
		}
	}

	.dish-price {
		li {
			display: inline-block;
			vertical-align: top;
			margin-left: 8px;

			&:first-child {
				margin-left: 0px;
			}
		}

		.volume {
			font-size: 12px;
			@mixin font-gillSans;
			border: 1px solid #E6DFC2;
			border-radius: 2px;
			padding: 2px 5px;
			font-weight: normal;
			position: relative;
			top: -2px;
			margin-right: 1px;
		}

		.icon-rubl {
			font-size: 12px;
			position: relative;
			top: -1px;
		}
	}

	.dish-title {
		overflow: hidden;
		/*margin-bottom: 8px;*/
		position: relative;

		span {
			padding-right: 60px;
		}

		a {
			transition: color .3s ease-out;

			&:hover {
				color: #BF4D28;
				cursor: pointer;
			}
		}
	}

	.dish-title,
	.dish-price {
		color: #111;
		font-weight: 700;
		font-size: 18px;
	}

	.dish-desc {
		font-size: 14px;
		/*margin-bottom: 10px;*/
	}
}

#menu-gallery {
	.gallery-slide-footer {
		padding-top: 100px;
		padding-bottom: 41px;
	}

	.dish-title {
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 12px;
	}

	.dish-desc {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.separator {
		display: inline-block;
		vertical-align: top;
		width: 80px;
		border-top: solid 3px #D1C089;
	}

	.dish-price {
		font-size: 24px;
		font-weight: 700;
		margin-top: -5px;

		.volume {
			font-size: 12px;
			@mixin font-gillSans;
			border: 1px solid #E6DFC2;
			border-radius: 2px;
			padding: 2px 5px;
			font-weight: normal;
			position: relative;
			top: -2px;
			margin-right: 1px;
		}

		.icon-rubl {
			font-size: 17px;
		}
	}
}


@mixin respond-to $breakpoint-mobile-hd {
	.menu {

		.dish-description {
			display: table-cell;
			width: 100%;
			box-sizing: border-box;
			padding-right: 5px;
		}

		.dish-price {
			display: table-cell;
			text-align: right;
			vertical-align: top;
			white-space: nowrap;
		}

		.dish-price li {
			white-space: nowrap;
		}

		.dish-title {
			padding-right: 10px;

			span {
				background-color: #F7F9F3;
				padding-right: 3px;

				&:before {
					/*content: " ";*/
					width: 1rem;
					height: 1rem;
					background-color: green;
					left: 100%;
					top: 0;
					position: absolute;
				}

				&:after {
					content: " ";
					border-top: solid 1px color(#151101 a(.25));
					/*background-color: red;*/
					position: absolute;
					top: 18px;
					left: 0px;
					width: 100%;
					/*margin-left: 8px;*/
					z-index: -1;
				}
			}
		}

		.menu-subtitle {
			&:first-child {
				padding-top: 10px;
			}
		}
	}
}

@mixin respond-to $breakpoint-tablet {
	.menu {
		overflow: hidden;

		.dish-list {
			lost-column: 1/2;
			clear: none !important;
		}

		.dish-list:nth-of-type(2n) {
			margin-right: 0px;
		}

		.dish-list:nth-of-type(2n+1) {
			margin-right: 20px;
		}

		.menu-subtitle {
			clear: both;
		}
	}
}

@mixin respond-to $breakpoint-laptop {
	.menu {
		.dish {
			padding-left: 29px;

			&.dish--new {
				&::before {
					left: 29px;
				}
			}
		}
	}
}