.mobileNav {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background: rgba(21,17,1,0);
    transition: background 300ms ease-out;
    overflow: auto;

    &.in {
        background: rgba(21,17,1,0.75);
    }
}

.mobileNav-inner {
    background: #F7F9F3;
    padding-bottom: 50px;
    padding-top: 50px;
    transform: translateY(-100%);
    transition: transform .3s ease-out;
    text-align: center;

    .mobileNav.in & {
        transform: translateY(0);
    }
}

.mobileNav-item {
    font-size: 14px;
    @mixin font-gillSans;
    text-transform: uppercase;
    color: #1B1501;
    margin-bottom: 27px;
    transition: color .3s ease-out;

    &.is-active {
        color: #BF4D28;
    }

    &:hover {
        color: #BF4D28;
    }
}

.mobileNav-close {
    border: 1px solid #D1C089;
    display: inline-block;
    vertical-align: top;
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    box-sizing: border-box;
    background: none;
    outline: 0;
    color: #151101;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: color .3s ease-out;

    &:hover {
        color: #BF4D28;
    }
}

@mixin respond-to $breakpoint-mobile-hd {
    .mobileNav-item {
        font-size: 18px;
        margin-bottom: 32px;
    }
}