.pagination {
	li {
		text-transform: uppercase;
		@mixin font-gillSans;
		font-size: 14px;
		line-height: 24px;
		border-left: solid 3px color(#151101 a(.25));
		padding-left: 4px;
		letter-spacing: 1px;
		transition: color .3s ease-out, border-color .3s ease-out;
		display: inline-block;
		vertical-align: top;
		margin-right: 22px;

		&.is-active {
			border-color: #BF4D28;

			&:hover {
				color: #151101;
			}
		}

		&:hover {
			color: #BF4D28;
			border-color: #BF4D28;
		}
	}
}
