.reference {
	padding: 15px;
	background: #EDEAD8;
	text-align: center;

	.icon-branch {
		font-size: 24px;
	}

	h3 {
		font-size: 21px;
		font-weight: 700;
		margin-bottom: 22px;
	}

	p {
		font-size: 16px;
		line-height: 24px;
		@mixin center 580px;
		margin-bottom: 19px;

	}

	.reference-content {
		padding-top: 46px;
		padding-bottom: 39px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.outline,
	.outline-inner {
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 5px;
			height: 5px;
			background: #EDEAD8;
		}
	}

	.outline {
		border: solid 1px #151101;

		&::before {
			border-right: solid 1px #151101;
			border-bottom: solid 1px #151101;
			top: -1px;
			left: -1px;
		}

		&::after {
			border-left: solid 1px #151101;
			border-bottom: solid 1px #151101;
			top: -1px;
			right: -1px;
		}
	}
	.outline-inner {
		border: solid 1px #151101;
		margin: 4px;

		&::before {
			border-right: solid 1px #151101;
			border-top: solid 1px #151101;
			bottom: -6px;
			left: -6px;
		}

		&::after {
			border-left: solid 1px #151101;
			border-top: solid 1px #151101;
			right: -6px;
			bottom: -6px;
		}
	}
}