.restaurant-list {
	@mixin clearfix;
}

.restaurant {
	font-size: 16px;

	.restaurant-list & {
		margin-bottom: 60px;
	}

	h3 {
		font-weight: 700;
		margin-bottom: 10px;
	}

	ul {
		margin-bottom: 20px;

		&.workinghours {
			margin-bottom: 28px;
		}
	}

	li {
		margin-bottom: 6px;

		i {
			position: relative;
			top: 2px;
			margin-right: 3px;
		}
	}

	a {
		@mixin underline-rgba #151101;

		&.tel {
			border: none;
		}
	}
}

.restaurant-preview {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 28px;
	position: relative;
	display: table;
	width: 100%;
	max-width: 350px;


	> a {
		padding-top: 22%;
  		padding-bottom: 20%;
		text-align: center;
		background: rgba(21,17,1,0.60);
		display: table-cell;
		vertical-align: middle;

		&:hover {
			span {
				border-color: color(#F7F9F3 a(1));
			}
		}

		img {
			margin-bottom: 7px;
		}

		span {
			color: #F7F9F3;
			@mixin underline-rgba;
		}
	}
}