.socialLikes {
	overflow: hidden;
}

.social-likes__title {
	margin-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	@mixin font-gillSans;
}

.social-likes__widget {
	height: 71px;
	width: 109px;
	border: solid 1px #D1C089;
	float: left;
	margin-left: -1px;
	line-height: 73px;
	text-align: center;
	cursor: pointer;
	transition: color .3s ease-out;
	font-size: 12px;

	&:first-child {
		margin-left: 0px;
	}

	&:hover {
		color: #D1C089;
	}
}

.social-likes__counter {
	@mixin font-gillSans;
	margin-left: 10px;
}

.social-likes__counter_empty {
	margin-left: 0px;
}

.social-likes__button {
	display: none;
}

.social-likes__widget_facebook,
.social-likes__widget_vkontakte {
	&::before {
		@mixin font-icons;
	}
}

.social-likes__widget_facebook::before {
	content: "\e60c";
	font-size: 16px;
}
.social-likes__widget_vkontakte::before {
	content: "\e600";
}