.text {
	h1 {
		font-size: 34px;
		font-weight: 700;
		margin-bottom: 43px;
	}
	h2 {
		font-size: 21px;
		font-weight: 700;
		margin-bottom: 11px;
	}
	h3 {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 14px;
		@mixin font-gillSans;
	}
	time {
		font-size: 14px;
		text-transform: uppercase;
		@mixin font-gillSans;
		letter-spacing: 1px;
		margin-bottom: 13px;
		display: block;
	}
	p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 24px;
	}
	.lead {
		font-style: italic;
		font-size: 21px;
		line-height: 30px;
		margin-bottom: 14px;
	}
	.title-hero {
		position: relative;
		margin-bottom: 35px;

		&::after {
			content: "";
			position: absolute;
			bottom: -25px;
			left: 0px;
			width: 140px;
			border-top: solid 4px #D1C089;
		}
	}
	.gallery {
		margin-bottom: 24px;
	}
	ul {
		margin-bottom: 24px;
		li {
			line-height: 24px;
			margin-bottom: 12px;
			position: relative;

			&::before {
				content: "—";
				margin-right: 5px;
			}
		}
	}
}

@mixin respond-to $breakpoint-laptop {
	.text {
		ul {
			li {
				&::before {
					position: absolute;
					right: 100%;
					top: -1px;
				}
			}
		}
	}
}